.popup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 100px;
    right: 100px;
    width: 250px;
    height: 50px;
    background-color: green;
    z-index: 999;
    color: white;
    border-radius: 5px;
}

.popup__close{
    right: -350px !important;
}

.popup__open{
    right: 100px !important;
}